<div class="main-div">
    <mat-toolbar fxlayout="row">
        <h1 routerLink="/" class="logo">SHOP</h1>
        <button
            class="nav-item"
            mat-button 
            routerLink="/all-products"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="active-route"
            fxHide.lt-sm
            [ngStyle.gt-xs]="{'margin-left.px': 20}">all-products</button>
        
        <button
          class="nav-item"
          mat-button
          routerLink="/cart"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active-route"
          fxHide.lt-sm
        >Cart</button>

        <span fxFlex="1 1 auto"></span>
        <button
          mat-icon-button
          routerLink="/cart"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active-route"
          [ngStyle.gt-xs]="{'margin-right.px': 20}"
        >
          <mat-icon [matBadge]="totalCartItem" matBadgeColor="warn" routerLink="/cart">add_shopping_cart</mat-icon>
        </button>
        <button class="nav-dropdown"
            mat-button
            fxHide.gt-xs
            [matMenuTriggerFor]="navDropDown">
            <mat-icon>view_headline</mat-icon>
        </button>
        
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="dataService.loading | async"></mat-progress-bar>
</div>

<mat-menu #navDropDown="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item routerLink="/product/all-products" [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active-route">all-products</button>
        <button mat-menu-item routerLink="/cart" [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active-route">Cart</button>
        <button mat-menu-item routerLink="/cart/checkout" [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="active-route">Checkout</button>
    </ng-template>
</mat-menu>
